<%-include("header") -%>
<h1>The given URL is Not valid Please enter a valid one</h1>
<form  action="/error" method="post">
  <button type="submit" name="button">Return</button>
</form>
<%-include("footer") -%>
