<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Job Analyser</title>
    <link rel="icon"  href="images/favicon.png">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
